{% extends 'base.html.twig' %}

{% block content %}
<h2>Raccourcir une URL</h2>

<form class="" action="{% url 'add_url' %}" method="post">
  {% csrf_token %}
  {{ form.as_p}}
  <input type="submit" name="" value="Valider">
</form>
{% endblock %}
