<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TP : Raccourcir une URL</title>
  </head>
  <body>
    {% block header %}<h1>Mon raccourcisseur d'URL ! </h1>{% endblock %}
    {% block content %}{% endblock %}
  </body>
</html>
